@model ProductViewModel


@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Create Product";

}

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control" id="mytextarea"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Img" class="control-label"></label>
                <input type="file" name="file" id="imgfile" class="form-control" onchange="fillimg(event)"/>
            </div>
            
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-control">
                    <option disabled selected>-- Select Category --</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <div class="container">
            <img id="imgPervew" src="~/@Model.Product.Img" width="300" height="350" />
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back To List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

    <script>
        var fillimg = function (event) {
            var imgholder = document.getElementById("imgPervew");
            imgholder.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
}