@model ShoppingCart

<form method="post" asp-action="Details">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <input type="hidden" asp-for="ProductId" />
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/@Model.Product.Img" alt="..." width="600" height="700"></div>
                <div class="col-md-6">
                    <div class="small mb-1">@Model.Product.Category.Name</div>
                    <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">$45.00</span>
                        <span>$@Model.Product.Price</span>
                    </div>
                    <p class="lead">@Html.Raw(Model.Product.Description)</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" asp-for="Count" style="max-width: 3rem">
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>