@model int

<div class="container">
    <div class="col-12">
        <h3>
            Order Confirmation Page
        </h3>
        <br />
        <hr />
        <h2>Your order Has been successfuly placed</h2>

    </div>


</div>