@model Category


@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Delete Category";
}

<div class="row">

    <div class="col-md-4">
        <form method="post" asp-action="ConfirmDelete">

            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" disabled class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description"></label>
                <div class="form-control" readonly>
                    @Html.Raw(Model.Description)
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back To List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}